hr
{
    /*width:1000px;*/
    height:3px;
    background-color:#12C6FE;
    border:0;
}
body
{
    height:100%;
}
a.home
{
    text-decoration:none;
}
.current
{
    background-color:#553779;
    color: #FFFFFF;
}
li.current:hover
{
    background-color:#553779;
}
a
{
    color:#553779;
}
li.nav:hover
{
    background-color:#12C6FE;
}
html
{
    font-family: "Verdana", sans-serif;
    background-color:#202020;
}
#main
{
    /*width:100%;*/
    padding:0 100px 0 100px;
    float:left;
    color:white;
}
#sidebar
{
    margin-left:-10px;
    margin-top:-10px;
    /*padding:10px;*/
    position: fixed;
    display:block;
    float:left;
    background-color:#55A879;
    height:100%;
    width:100px;

}
ul.nav
{
    list-style-type:none;
    padding:0px;
    margin:0px;
    width:100%;
}
li
{
    padding:10px 20px 10px 10px;
}
.wavy
{
    padding-left:40px;
    margin-top:5px;
    margin-bottom:5px;
    color:white;
}
h2
{
    padding:0px 20px 0px 10px;
}
.highlight
{
    color:#12C6FE;
}
td {
  text-align: center;
  vertical-align: middle;
}
.logo
{
    width:300px;
}
.un
{
    background-color:#E81B4C;
}
#un
{
    color:#E81B4C;
    
    
}
img.char
{
    float: left;
    padding:10px 20px 10px 10px;
    height: 450px;

}
div.char
{
    clear: left;
}
img.barrier {
    height: 482px;
    width: 609px;
}